[Unit]
Description=supervisord instance for controlling NERD components
Documentation=http://supervisord.org
After=network.target mongod.service redis.service rabbitmq-server.service named.service postgresql-11.service

[Service]
Type=forking
User=nerd
Group=nerd
RuntimeDirectory=nerd
RuntimeDirectoryMode=775
ExecStart=/usr/bin/supervisord -c /etc/nerd/supervisord.conf
ExecReload=/usr/bin/supervisorctl -c /etc/nerd/supervisord.conf reread
ExecStop=/usr/bin/supervisorctl -c /etc/nerd/supervisord.conf shutdown

[Install]
WantedBy=multi-user.target
