pyyaml
pymongo
psycopg2-binary
redis
hiredis
dnspython
geoip2
pygeoip
pycares
shodan
apscheduler
pika>=1.0.0
redis
hiredis
numpy
pandas
xgboost==1.6.1
pymisp==2.4.111.2
zmq
amqpstorm
jsonpath_rw
jsonpath_rw_ext
OTXv2
requests