# Remove old IDEA messages from PostgeSQL every day at 03:00 (only if PSQL is enabled)
0 03 * * * psql -lt | grep -Eq '^\s+nerd_warden\s' && /nerd/scripts/nerd_clean_eventdb.sh > /dev/null
# Update metainformation about numbers of IPs with particular event Category and Node
*/30 * * * * mongosh --quiet nerd /nerd/scripts/update_db_meta_info.js >/dev/null
# Compute reputation scores of BGP prefixes once an hour
55 * * * * mongosh --quiet nerd /nerd/scripts/set_prefix_repscore.js

# Download GeoIP database every Monday at 05:05
# TODO: It's probalby needed to somehow notify NERDd that it needs to reload the database
05 05 * * 1 wget -q http://geolite.maxmind.com/download/geoip/database/GeoLite2-City.mmdb.gz -O /data/geoip/GeoLite2-City.mmdb.gz && gunzip -f /data/geoip/GeoLite2-City.mmdb.gz
# rsync Uceprotect blacklist 3 times a day
40 01,09,17 * * * rsync -azq rsync-mirrors.uceprotect.net::RBLDNSD-ALL/dnsbl-1.uceprotect.net /data/blacklists/uceprotect-level1
# rsync PSBL blacklist 3 times a day
41 01,09,17 * * * rsync -zq psbl-mirror.surriel.com::psbl/psbl.txt /data/blacklists/psbl.txt
