body {
  background: #f7f7f7;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin: 0em;
}

h1 {
  font-size: large;
  font-weight: bold;
  color: #0061a2; //#102040;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

hr {
  border: 0;
  border-top: 2px solid #0061a2;
  margin: 1.5em 0 0.5em 0;
}

/* redefine defaults for jquiery ui widgets */
.ui-widget {
	font-family: inherit;
	font-size: 1.0em;
}

.ui-tooltip {
  padding: 0.25em 0.4em;
  max-width: 100em;
}

p.error {
  color: #900;
  background: #fee;
  border: 1px solid #900;
  padding: 0.4em 0.6em;
}

.note {
  color: #aaa;
}
.note:hover {
  color: #000;
}

/* Flash messages */
.msg {
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  position: relative;
  z-index: 1;
}
.msg,
.msg.info {
  background: #c0ecfc;
  color: #000;
  border: 1px solid #5e708c;
}
.msg.success {
  background: #c0fcbc;
  color: #000;
  border: 1px solid #5e8c70;
}

.msg.error {
  background: #fdd;
  color: #c00;
  border: 1px solid #c00;
  font-weight: bold;
}
.msg a.close {
  display: block;
  float: right;
  width: 1em;
  height: 1em;
  size: 0.5em;
  vertical-align: middle;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}

/********/

#header {
  background: #444;
  color: #ddd;
  padding: 0;
  font-size: 1.0em;
  height: 2em;
  border-bottom: 1px solid #fff;
}
#header a {
  color: #94c7e7;//#ccf;
}
#header #corner-logo {
  float: left;
  margin: 0;
  background: #fff;
  height: 100%;
  /*position: absolute;*/
}
#header #corner-logo img {
  /*width: 43px;
  height: 15px;*/
  height: 1.6em;
  width: 4.587em;
  margin: 0.25em 0.8em;
}
#header #navigation {
  padding: 0.4em 1em;
  float: left;
}
#header #login {
  float: right;
  text-align: right;
  padding: 0.4em 1em;
}
#header #login a {
  margin-left: 0.7em;
}
#header #login a.username {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-weight: bold;
  color: #eee;
  text-decoration: none;
}
#header #login a.username:hover {
  /*text-decoration: underline;*/
  border-bottom: 1px solid #eee;
}

#content {
  padding: 0 0.75em;
  border-top: 2px solid #0061a2;
}

/* Login prompt page */
#login-prompt-outer {
  text-align: center;
}
#login-logo {
  margin: 3em 0 2em 0;
}
#login-box {
  margin: auto;
  padding: 1em;
  width: 90%;
  /*height: 12em;*/
  margin-top: 2em;
  text-align: center;
  background-color: #fdd;
  color: #800;
}
#login-box h1 {
  /*margin: 1em 0;*/
  font-size: 2.5em;
  color: inherit;
}
#login-box p {
  font-size: 1.3em;
}
#login-arrow {
  position: absolute;
  top: 2rem;
  right: 4rem;
  font-size: 6em;
  color: #800;
}
#login-box.account-request {
  background-color: #fff0d0;
  color: #620;
}
#login-box div.confirmation {
  padding: 0.3em 1em;
  background-color: #dfd;
  color: #040;
}


/***** Main tables, such as IPs table (#entity_table) or Events table (#events_table) *****/
.main_table {
  margin-top: 0.5em;
  background: #eeeeee;
  border: solid black;
  /* This is necessary to avoid firefox bug, in which borders have different 
     widths when border-collapse:collapse is used and page is zoomed in (which
     is default for high DPI screens)
  */
  border-collapse: separate;
  border-spacing: 0px; 
  border-width: 0px 0px 1px 1px;
}

.main_table td, .main_table th {
  border: solid black;
  border-width: 1px 1px 0px 0px;
  padding: 0.2em 0.3em;
}

.main_table th {
  background: #bbbbbb;
}

.main_table tr:hover {
  background: #fbfbfb;
}

/**********/
/* Form */

.ms-options-wrap {
  display: inline-block;
  width: 16em;
}

#bl_op_button {
  display: inline-block;
  width: 1.5em;
  /*height: 100%;*/
  text-align: center;
  background: #fff;
  border: 1px solid #aaa;
  cursor: default;
}

form span.error {
  color: #a00;
}
form input.error {
  background-color: #fcc;
}


/**********/


#results_label {
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid #bbb;
}
#results_label a {
  text-decoration: none;
}
#results_label a:hover {
  text-decoration: underline;
}

td.country a {
  text-decoration: none;
  color: inherit;
}

td.events {
  text-align: right;
  padding-right: 0;
}
td.events span {
  display: inline-block;
  text-align: right;
  min-width: 1.3em;
  padding: 0 0.2em;
}
td.events span:first-child {
  padding-right: 0.4em;
}
td.events span + span {
  font-size: 0.8em;
  color: #222;
  border-left: 1px dotted #888;
  text-align: center;
}
/*td.events span + span::before {
  content: '/';
  padding: 0 0.25em;
  color: #888;
}*/

td.links img {
  width: 1em;
  height: 1em;
}

.events_tooltip table {
  border: solid #000;
  border-width: 0px 0px 1px 1px;
  border-collapse: separate;
  border-spacing: 0px;
  margin: 0.4em 0; 
}
.events_tooltip table td,
.events_tooltip table th {
  border: solid #000;
  border-width: 1px 1px 0px 0px;
  padding: 0.1em 0.4em;
}
.events_tooltip table td {
  text-align: right;
}


.tag {
  display: inline-block;
  background: #333;
  color: white;
  border-radius: 4px;
  padding: 0.1em 0.3em;
  margin: 0;
  font-size: 1em;
}

.tag.port {
  background: #258;
}

.tag.amplifier {
  background: #a62;
}

.tag.blacklist {
  background: #533;
}

/*.blacklist_entry + .blacklist_entry::before {
  content: "| ";
}*/

/***********************************************/
/* Single IP listing */

.scrollable {
  border: 1px #777 solid;
  padding: 0.5em;
  max-height: 25em;
  overflow-y: auto;
}

.notfound {
  font-size: 1.25em;
}
.ip-info {
  /*margin: 1em 0 0 0;*/
  background-color: #fff;
  padding: 0.5em 1em 0.5em 1em;  
}
.ip-info .header {
  margin: 0.5em 0;
  padding: 0.3em 0.1em;
  border-bottom: 1px dotted #444;
}
.header .ip {
  font-size: 1.5em;
  font-weight: bold;
}
.header .hostname {
  font-size: 1.2em;
  color: #444;
  margin-left: 1em;
}

dl.attrs dt {
  font-weight: bold;
  margin: 0.5em 0 0 0;
}
dd dl dt:first-child {
  margin-top: 0;
}

#event-details {
  margin: 1em 0 0.5em 0;
}
#event-details .caption {
  font-size: 1.5em;
  font-weight: bold;
}
#event-details .counts {
  font-size: 1.0em;
  font-weight: bold;
}
#event-details .mentat-link {
  font-size: 1.0em;
  /*margin-left: 0.8em;*/
}
#event-details .mentat-link::before {
  content: '\2022';
  margin-right: 0.5em;
  margin-left: 0.5em;
}

/****************************************/
/* IDEA */

/* Main layout */
div.idea {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  background: #def;
  border: 2px solid #bdf;
  margin: 0.3em 0;
  padding: 0.2em;
}
div.idea .cat_and_time {
  /*float: left;*/
  flex-basis: 10em;
  flex-grow: 0;
  flex-shrink: 0;
  /*min-width: 10em;*/
  height: 100%;
  background: #bdf;
  padding: 0.2em;
  
}
div.idea .nodes {
  /*float: right;*/
  flex-grow: 0;
  flex-shrink: 0;
  /*height: 100%;*/
  border-left: 2px solid #bdf;
  padding-left: 0.3em;
}
div.idea .others {
  flex-grow: 5;
  padding: 0 0.5em;
}
div.idea .others .descr {
  padding: 0.2em 0.5em;
  margin-bottom: 0.2em;
  background: #bdf;
}
div.idea .others .source,
div.idea .others .target {
  border-right: 2px solid #bdf;
  padding-right: 0.5em;
  margin-right: 0.25em;
}


/* misc */
div.idea .category {
  font-weight: bold;
}

/* Nodes */
div.idea .nodes ul {
  margin: 0;
  padding: 0;
  /*padding-left: 1em;*/
  min-width: 15em;
}
div.idea .nodes li {
  list-style-type: none;
}
div.idea .nodes li::before {
  content: '\2191';
  padding: 0 0.4em;
}
div.idea .nodes li:last-child {
  font-weight: bold;
}
div.idea .nodes li:last-child::before {
  content: '\21a5';
  font-weight: normal;
}
div.idea .nodes li:first-child::before {
  /*content: '\21ab';*/
  content: '\21b0';
  position: relative;
  left: -0.15em;
}
div.idea .nodes li:first-child:last-child::before {
  content: '\2022';
}

/***********************************************/
/* NERD status block */
#status-block {
  position: absolute;
  top: 2.7em;
  right: 0.5em;
  width: 15em;
  border: 1px solid #000;
  padding: 0.5em 1em;
  background-color: #ddd;
}
#status-block .refresh-spinner {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  visibility: hidden;
  width: 14px;
  height: 14px;
}
/*#status-block p {
  margin: 0.5em 0;
}*/
#status-block table {
  width: 100%;
  border: 0;
  margin: 0.5em 0;
}
#status-block td {
  padding: 0;
  margin: 0;
}
#status-block td + td {
  text-align: right;
}
#status-block #status-idea-queue-bar {
  width: 100%;
  height: 5px;
  padding: 0;
  margin: 0.2em 0 0 0;
  background-color: #fff;
}
#status-block #status-idea-queue-bar div {
  width: 0%;
  height: 100%;
  background-color: #00f;
}
