body {
  background: #f7f7f7;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin: 0em;
}

h1 {
  font-size: large;
  font-weight: bold;
  color: #0061a2; /*#102040;*/
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

hr {
  border: 0;
  border-top: 2px solid #0061a2;
  margin: 1.5em 0 0.5em 0;
}

/* redefine defaults for jquiery ui widgets */
.ui-widget {
	font-family: inherit;
	font-size: 1.0em;
}

.ui-tooltip {
  padding: 0.25em 0.4em;
  max-width: 100em;
}

p.error {
  color: #900;
  background: #fee;
  border: 1px solid #900;
  padding: 0.4em 0.6em;
}

.note {
  color: #aaa;
}
.note:hover {
  color: #000;
}

.help:after {
  content: '(?)';
}
.help {
  opacity: 0.5;
  margin: 0 0.5em;
}

.time {
  white-space: nowrap; /* Prevent Chrome to break lines at '-' inside dates */
}

div.loading {
  text-align: center;
  /*background-color: rgba(0, 0, 0, 0.01);*/
}
img.load-spinner {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  vertical-align: middle;
}
img.load-spinner-small {
  width: 1.2em;
  height: 1.2em;
  margin: 0.4em;
}

/* Flash messages */
.msg {
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  position: relative;
  z-index: 1;
}
.msg,
.msg.info {
  background: #c0ecfc;
  color: #000;
  border: 1px solid #5e708c;
}
.msg.success {
  background: #c0fcbc;
  color: #000;
  border: 1px solid #5e8c70;
}

.msg.error {
  background: #fdd;
  color: #c00;
  border: 1px solid #c00;
  font-weight: bold;
}
.msg a.close {
  display: block;
  float: right;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}

.header-notice {
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 1em 0.5em 2.5em;
  position: relative;
  z-index: 1;
  color: #000;
  border: 1px solid #5e708c;
  background: 1em center / 1em 1em no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAAmJLR0QA/4ePzL8AAAFfSURBVDgRjcG9TpNhGADQQ+PQBFYToZ8ESxMYrUy9BrR0JVyCAQd+7sORqIsTIgQ0Nt4EtwAhEXGmTIXv9ZEQIm8bSHrOmEHTliyaUeDMqR+++eURNdtKIYQQQgjJrhkP6LgU+nYsmzNu3JxlX/SFnrYh7yRhT92wWftCsibTkZTWPWZDkrTdKVwK63KFQm5T6Jly65OwJ9eUJK/kDoQPbkwr9dXlXiqVmnINfaWCVWHHsJrCsF3hLT+FZYOajh1rGrQidJ9o4MigqjqqBh1htuIZ/hjFb9QqRlfB34pzTBnFFM4rTrBgFAs4qeiiYxQddHmu1Dcr1xJCS67hyrXCjY/CvlxLCC25Q2HbrZqesOFeVV1d1b0t4cKkO21JsukxW5LkjcyaJBxoGNZwKCSrhrT1hCu7VsybMGHeiq+uhAuvPeCp966FEEIIISSfTfpvzKDCkkUvFDhzouu7M5l/mI2GWPb1hTcAAAAASUVORK5CYII=);
  background-color: #d1edff;
}

/********/

#header {
  background: #444;
  color: #ddd;
  padding: 0;
  font-size: 1.0em;
  height: 2em;
  -webkit-position: sticky; /* safari */
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #fff; /* White "separator" between the header and the bottom blue line */
  white-space: nowrap; /* never wrap to a new line inside the header, it would break layout */
}
#header::after { /* Blue line on the bottom of the header */
  content: "";
  display: block;
  clear: both;
  border-bottom: 2px solid #0061a2;
}
#header a {
  color: #94c7e7;/*#ccf;*/
}
#header #corner-logo {
  float: left;
  margin: 0;
  background: #fff;
  height: 100%;
  /*position: absolute;*/
}
#header #corner-logo img {
  /*width: 43px;
  height: 15px;*/
  height: 1.6em;
  width: 4.587em;
  margin: 0.25em 0.8em;
}
#header #navigation {
  padding: 0.4em 1em;
  float: left;
}

/* UTC/local time switch */
#utc-switch {
  float: right;
  margin: 0.4em 0.3em;
  position: relative;
  /*display: inline-block;*/
  display: none; /* hide by default, show only by javascript when it initialization part is done */
  width: 65px;
  height: 15px;
}
#utc-switch input{
  display:none;
}
#utc-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #32bf31;
  -webkit-transition: .2s;
  transition: .2s;
}
#utc-slider::before{
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 3px;
  border-radius: 34px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}
#utc-switch input:checked + #utc-slider {
  background-color: #373aeb;
}
#utc-switch input:not(:checked) + #utc-slider::before{
  -webkit-transform: translateX(47px);
  -ms-transform: translateX(47px);
  transform: translateX(47px);
}
#utcon, #utcoff{
  float: right;
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  display: none;
}
/* change visibility based on switch "checked" state */
#utc-switch input:checked + #utc-slider #utcon{
  display: block;
}
#utc-switch input:not(:checked) + #utc-slider #utcoff{
  display: block;
}
#header #timezone-label {
  float: right;
  text-align: right;
  padding: 0.4em 0.4em;
  display: none;
}


#header #login {
  float: right;
  text-align: right;
  padding: 0.4em 1em;
  min-width: 20%;
  max-width: 50%;
}
#header #login a {
  margin-left: 0.7em;
}
#header #login a.username {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-weight: bold;
  color: #eee;
  text-decoration: none;
}
#header #login a.username:hover {
  /*text-decoration: underline;*/
  border-bottom: 1px solid #eee;
}

#admin-box {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  width: 12em;
  padding: 0.2em 0.5em;
  margin: 0em;
  text-align: center;
  border: 2px solid yellow;
  border-top: 0px;
  border-radius: 0px 0px 4px 4px;
  background: #CCCC99;
  color: #000000;
  z-index: 11;
}
#admin-box:hover {
  padding-bottom: 0.5em;
}
#admin-box > div {
  display: none;
}
#admin-box:hover > div {
  display: block;
}

#admin-box > div {
  margin-top: 0.5em;
  padding: 0.5em;
  border: 1px solid #777;
  background: #bbb;
  text-align: left;
}


#content {
  padding: 0 0.75em 0.75em 0.75em;
  border-top: 2px solid #0061a2;
}

/* Login prompt page */
#login-prompt-outer {
  text-align: center;
}
#login-logo {
  margin: 3em 0 2em 0;
}
#login-box {
  margin: auto;
  padding: 1em;
  width: 90%;
  /*height: 12em;*/
  margin-top: 2em;
  text-align: center;
  background-color: #fdd;
  color: #800;
}
#login-box h1 {
  /*margin: 1em 0;*/
  font-size: 2.5em;
  color: inherit;
}
#login-box p {
  font-size: 1.3em;
}
#login-arrow {
  position: absolute;
  top: 2rem;
  right: 4rem;
  font-size: 6em;
  color: #800;
}
#login-box.account-request {
  background-color: #fff0d0;
  color: #620;
}
#login-box div.confirmation {
  padding: 0.3em 1em;
  background-color: #dfd;
  color: #040;
}


/***** Main tables, such as IPs table (#entity_table) or Events table (#events_table) *****/
.main_table {
  margin: 0.5em 0em;
  background: #eeeeee;
  border: solid black;
  width: 100%;
  /* This is necessary to avoid firefox bug, in which borders have different 
     widths when border-collapse:collapse is used and page is zoomed in (which
     is default for high DPI screens)
  */
  border-collapse: separate;
  border-spacing: 0px; 
  border-width: 0px 0px 1px 1px;
}

.main_table td, .main_table th {
  border: solid black;
  border-width: 1px 1px 0px 0px;
  padding: 0.2em 0.3em;
  white-space: nowrap;
}

.main_table th {
  background: #bbbbbb;
}

.main_table tr:hover {
  background: #fbfbfb;
}

/**********/

/***** Main tables, such as IPs table (#entity_table) or Events table (#events_table) *****/
.misp_table {
  margin: 0.5em 0em;
  background: #eeeeee;
  border: solid black;
  width: 100%;
  /* This is necessary to avoid firefox bug, in which borders have different
     widths when border-collapse:collapse is used and page is zoomed in (which
     is default for high DPI screens)
  */
  border-collapse: separate;
  border-spacing: 0px;
  border-width: 0px 0px 1px 1px;
  border-left: none;
  border-right: none;
}

.misp_table td, .misp_table th {
  border: solid black;
  border-width: 1px 1px 0px 0px;
  padding: 0.2em 0.5em;
  vertical-align: top;
  text-align: left;
  /*white-space: nowrap;*/
  border-left: none;
  border-right: none;
}

.misp_table th {
  background: #bbbbbb;
  color: #0061a2;
}

.misp_table tr:hover {
  background: #fbfbfb;
}

.misp_basic_cell{
    white-space: nowrap;
    width: 10%;
}

.misp_long_cell{
  word-break: break-all;
  width: 20%;
}

.misp_h3 {
  color: #669900;
}

/**********/

/* Form */

/* Set/fix some visual properties of multiselects */
.ms-options-wrap {
  display: inline-block;
  position: relative;
  width: 16em;
  height: 0.1em;
}
.ms-options-wrap > button,
.ms-options-wrap > button:focus {
  padding-top: 0px;
  padding-bottom: 0px;
}
.ms-options-wrap > .ms-options {
  width: auto;
  min-width: 16em;
  white-space: nowrap;
}

.op_button {
  display: inline-block;
  width: 1.5em;
  /*height: 100%;*/
  text-align: center;
  background: #fff;
  border: 1px solid #aaa;
  cursor: default;
}

span.error {
  color: #a00;
}
input.error {
  background-color: #fcc;
}


/**********/


#results_label {
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid #bbb;
}
#results_label a {
  text-decoration: none;
}
#results_label a:hover {
  text-decoration: underline;
}

td.country a {
  text-decoration: none;
  color: inherit;
}

td.events {
  text-align: right;
  padding-right: 0;
}
td.events span {
  display: inline-block;
  text-align: right;
  min-width: 1.3em;
  padding: 0 0.2em;
}
td.events span:first-child {
  padding-right: 0.4em;
}
td.events span + span {
  font-size: 0.8em;
  color: #222;
  border-left: 1px dotted #888;
  text-align: center;
}
td.events span.misp,
td.events span.otx {
  font-size: 0.8em;
  color: #222;
  margin-top: 0.2em;
}

/*td.events span + span::before {
  content: '/';
  padding: 0 0.25em;
  color: #888;
}*/

td.links img {
  width: 1em;
  height: 1em;
}

.events_tooltip table {
  border: solid #000;
  border-width: 0px 0px 1px 1px;
  border-collapse: separate;
  border-spacing: 0px;
  margin: 0.4em 0; 
}
.events_tooltip table td,
.events_tooltip table th {
  border: solid #000;
  border-width: 1px 1px 0px 0px;
  padding: 0.1em 0.4em;
}
.events_tooltip table td {
  text-align: right;
}


.tag {
  display: inline-block;
  background: #333;
  color: white;
  border-radius: 4px;
  padding: 0.1em 0.3em;
  margin: 0 0.1em;
  font-size: 1em;
  /*font-weight: bold;
  text-shadow: #000 0px 0px 1px;*/
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.tag.port {
  background: #258;
}

.tag.amplifier {
  background: #a62;
}

.tag.blacklist {
  background: #533;
}

/**************/
/* Dropdown menu for service links in ips.html */

.links-dropdown {
  position: relative;
  display: inline-block;
}

/* Clickable button, which expands all links */
.links-dropbtn {
  color: black;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* Dropdown Content (Hidden by Default) */
.links-dropdown-content {
  display: none;
  position: absolute;
  top: 1.5em;
  right: 0px;
  min-width: 15em;
  background-color: #f1f1f1;
  border: 1px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.links-dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}
.links-dropdown-content a:hover {
  background-color: #ddd
}

/* Show the dropdown menu  */
.links-show {
  display:block;
}

/*.blacklist_entry + .blacklist_entry::before {
  content: "| ";
}*/

/***********************************************/
/* Single IP listing */

.scrollable {
  border: 1px #777 solid;
  padding: 0.5em;
  max-height: 25em;
  overflow-y: auto;
}

.notfound {
  font-size: 1.25em;
  font-weight: bold;
  color: #600;
}
.notfound2 {
  font-size: 0.9em;
  color: #666;
}
.notfound-fetching,
.notfound-error {
  margin: 2em 0;
  font-size: 1.25em;
  font-weight: bold;
  color: #0061a2;
}
.notfound-error {
  color: #f00;
}


.entity-info {
  /*margin: 1em 0 0 0;*/
  background-color: #fff;
  padding: 0.5em 1em 0.5em 1em;  
}
.entity-info:after { /* expand the div to include all inner floats */
    content: "";
    clear: both;
    display: block;
}

.entity-info .header {
  margin: 0.5em 0;
  padding: 0.3em 0.1em;
  border-bottom: 1px dotted #444;
}
.entity-info .header .rep {
  display: inline-block;
  padding: 0.25em 0.4em;
  vertical-align: bottom;
  border-radius: 5px;
  border: 1px solid #444;
  margin-right: 0.75em;
  /*font-size: 1.1em;*/
  font-weight: bold;
}
.entity-info .header .entity-id {
  font-size: 1.5em;
  font-weight: bold;
}
.entity-info .header .entity-name {
  font-size: 1.2em;
  color: #444;
  margin-left: 1em;
}
.entity-info .header .links {
  float: right;
  font-size: 1.2em;
  color: #777;
}
.entity-info .header .links img {
  width: 1em;
  height: 1em;
  margin: 0 0.2em;
}
.entity-info .header .links span.divider {
  width: 0;
  height: 1em;
  margin: 0 0.3em;
  border-left: 1px dotted #444;
}

.caption {
  font-size: 1.5em;
  font-weight: bold;
}

dl.attrs dt {
  font-weight: bold;
  margin: 0.5em 0 0 0;
}
dd dl dt:first-child {
  margin-top: 0;
}

.test-cat {
  color: #aaa;
}


.float-box {
  float: right;
  clear: right;
  min-width: 18em;
  max-width: 30em;
  min-height: 2em;
  max-height: 30em;
  border: 2px solid #0061a2;
  margin-bottom: 0.75em;
  overflow-y: auto;
}
.float-box .title {
  text-align: center;
  font-weight: bold;
  background-color: #0061a2;
  color: #fff;
  padding: 3px;
  position: relative;
}
.float-box .title .help {
  /*float: right;*/
  position: absolute;
  top: 3px;
  right: 3px;
  margin: 0;
}
.float-box .title .side-link {
  position: absolute;
  top: 3px;
  right: 3px;
  /*margin: 0 0.5em;*/
  opacity: 0.5;
}
.float-box .title .side-link a {
  color: inherit;
}
.float-box .content {
  padding: 5px;
}
.float-box .content p {
  margin: 0.25em 0;
}

#pdns-box .content {
  text-align: right;
}

.tag.dnstype {
  background: #bfd8e8; /*#80b0d0;*/ 
  color: #000;
  float: left;
  box-shadow: none;
  margin-right: 1em;
}
.pdns-item {
  border-bottom: 1px dotted #444;
  padding-bottom: 2px;
  margin-bottom: 3px;
}
.pdns-item:last-child {
  border-bottom: 0px;
  margin-bottom: 0px;
}
.pdns-item > div:last-child {
  margin-top: 2px;
  font-size: 0.9em;
}
.pdns-item-negative {
  opacity: 0.5;
}

#events {
  clear: both;
}

#event-details {
  margin: 1em 0 0.5em 0;
}
#event-details .counts {
  font-size: 1.0em;
  font-weight: bold;
}
#event-details .mentat-link {
  font-size: 1.0em;
  /*margin-left: 0.8em;*/
}
#event-details .mentat-link::before {
  content: '\2022';
  margin-right: 0.5em;
  margin-left: 0.5em;
}

/****************************************/
/* IDEA */

/* Main layout */
div.idea {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  background: #def;
  border: 2px solid #bdf;
  margin: 0.3em 0;
  padding: 0.2em;
}
div.idea .cat_and_time {
  /*float: left;*/
  flex-basis: 10em;
  flex-grow: 0;
  flex-shrink: 0;
  /*min-width: 10em;*/
  height: 100%;
  background: #bdf;
  padding: 0.2em 0.4em;
  
}
.idea .time {
  padding-left: 1.3em;
  background: left center / 1em 1em no-repeat; 
}
.idea .time.detecttime {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0yODguNSkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCI+DQogIDxlbGxpcHNlIGN4PSIxMyIgY3k9IjMwMS41IiByeD0iMTAiIHJ5PSIxMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjMiLz4NCiAgPHBhdGggZD0ibTIwLjIzIDMwNy4zIDUgNSIgc3Ryb2tlLXdpZHRoPSIyIi8+DQogIDxwYXRoIGQ9Im0yNS4yMyAzMTIuMyA0IDQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSI0Ii8+DQogIDxwYXRoIGQ9Im03LjUgMzAxLjUgNCA0IDctNyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiLz4NCiA8L2c+DQo8L3N2Zz4NCg==);
}
.idea .time.eventtime {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0yODguNSkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjMiPg0KICA8cGF0aCBkPSJtNiAyOTMuNXYyMiIvPg0KICA8cGF0aCBkPSJtMTEgMzA0LjVoMTYiLz4NCiAgPHBhdGggZD0ibTIyIDI5OS41IDUgNS01IDUiLz4NCiA8L2c+DQo8L3N2Zz4NCg==); 
}
.idea .time.ceasetime {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0yODguNSkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjMiPg0KICA8cGF0aCBkPSJtMjYgMjkzLjV2MjIiLz4NCiAgPHBhdGggZD0ibTUgMzA0LjVoMTYiLz4NCiAgPHBhdGggZD0ibTE2IDI5OS41IDUgNS01IDUiLz4NCiA8L2c+DQo8L3N2Zz4NCg==); 
}
.idea .time.winstarttime {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0yODguNSkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjMiPg0KICA8cGF0aCBkPSJtMTEgMjkzLjVoLTV2MjJoNSIvPg0KICA8cGF0aCBkPSJtMTEgMzA0LjVoMTYiLz4NCiAgPHBhdGggZD0ibTIyIDI5OS41IDUgNS01IDUiLz4NCiA8L2c+DQo8L3N2Zz4NCg==); 
}
.idea .time.winendtime {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0yODguNSkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjMiPg0KICA8cGF0aCBkPSJtMjEgMjkzLjVoNXYyMmgtNSIvPg0KICA8cGF0aCBkPSJtNSAzMDQuNWgxNiIvPg0KICA8cGF0aCBkPSJtMTYgMjk5LjUgNSA1LTUgNSIvPg0KIDwvZz4NCjwvc3ZnPg0K); 
}
.idea .time.duration {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0yODguNSkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjMiPg0KICA8cGF0aCBkPSJtNCAyOTUuM3YxOCIvPg0KICA8cGF0aCBkPSJtMjggMjk1LjV2MTgiLz4NCiAgPHBhdGggZD0ibTggMzA0LjVoMTYiLz4NCiAgPHBhdGggZD0ibTEyIDMwMC41LTQgNCA0IDQiLz4NCiAgPHBhdGggZD0ibTIwIDMwMC41IDQgNC00IDQiLz4NCiA8L2c+DQo8L3N2Zz4NCg==); 
}

div.idea .nodes {
  /*float: right;*/
  flex-grow: 0;
  flex-shrink: 0;
  /*height: 100%;*/
  border-left: 2px solid #bdf;
  padding-left: 0.3em;
}
div.idea .others {
  flex-grow: 5;
  padding: 0 0.5em;
}
div.idea .others .idea-descr,
div.idea .others .idea-note {
  padding: 0.2em 0.5em;
  margin-bottom: 0.2em;
  background: #bdf;
}
div.idea .others .idea-descr {
  font-weight: bold;
}

div.idea .attachment {
  display: inline-block;
  cursor: pointer;
  border: 1px dashed #444;
  padding: 0.25em 0.5em;
  margin-top: 0.2em;
  margin-right: 0.5em;
}
div.idea .attachment::before {
  content: "\1f4ce";
  margin-right: 0.5em;
}
div.idea .attachment:hover {
  background: #cc4;
}
div.idea .attach-content {
  display: none; /* do not display by default */
  position: absolute;
  left: 5vw;
  right: 5vw;
  z-index: 5;
  white-space: pre-wrap;
  cursor: default;
  padding: 0.25em 0.5em;
  background: #fff;
  border: 2px solid #444;
  box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.3);
}


div.idea.test {
  background: #eee;
  border-color: #ccc;
  color: #666;
}
div.idea.test .nodes {
  border-left-color: #ccc;
}
div.idea.test .idea-descr,
div.idea.test .idea-note,
div.idea.test .cat_and_time {
  background-color: #ccc;
}
div.idea.test .others .source,
div.idea.test .others .target {
  border-right-color: #ccc;
}


/* misc */
div.idea .category {
  font-weight: bold;
  margin-bottom: 0.2em;
}

/* Nodes */
div.idea .nodes ul {
  margin: 0;
  padding: 0;
  /*padding-left: 1em;*/
  min-width: 15em;
}
div.idea .nodes li {
  list-style-type: none;
}
div.idea .nodes li::before {
  content: '\2191';
  padding: 0 0.4em;
}
div.idea .nodes li:last-child {
  font-weight: bold;
}
div.idea .nodes li:last-child::before {
  content: '\21a5';
  font-weight: normal;
}
div.idea .nodes li:first-child::before {
  /*content: '\21ab';*/
  content: '\21b0';
  position: relative;
  left: -0.15em;
}
div.idea .nodes li:first-child:last-child::before {
  content: '\2022';
}

/****************************************/
/* Downloadable data */

ul.data-list {
  padding-left: 1.5em;
}

ul.data-list li {
  margin-top: 1em;
}

ul.data-list li ul li {
  margin-top: 0.4em;
  color: #777;
}


/***********************************************/
/* NERD status block */
#status-block {
  position: absolute;
  z-index: 5;
  top: 2.7em;
  right: 0.5em;
  width: 15em;
  border: 1px solid #000;
  padding: 0em 1em 0.5em 1em;
  background-color: #ddd;
}
#status-block .refresh-spinner {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  visibility: hidden;
  width: 14px;
  height: 14px;
}
/*#status-block p {
  margin: 0.5em 0;
}*/
#status-block table {
  width: 100%;
  border: 0;
  margin: 0.5em 0;
}
#status-block td {
  padding: 0;
  margin: 0;
}
#status-block td + td {
  text-align: right;
}
#status-block div.queue {
  width: 100%;
  height: 5px;
  padding: 0;
  margin: 0.2em 0 0 0;
  background-color: #fff;
}
#status-block div.queue div {
  width: 0%;
  height: 100%;
  background-color: #00f;
}
