{% extends "layout.html" %}
{% block body %}

<h1>BGP prefix</h1>

{% if not bgppref or not ac('ipsearch') %}
  {# Print nothing if no prefix was passed or insufficient permissions #}
{% else %}

<hr>

<div class="entity-info bgppref">
<p class="header">
{% if rec %}<span class="rep" style="background-color: {{ rep_css_color(rec.rep*100 if rec.rep*100 < 1.0 else 1.0) }}">{{ "%.6f"|format(rec.rep)|replace("0.",".") if rec.rep is defined else "--" }}</span>{% endif %}
<span class="entity-id">{{ bgppref }}</span>
</p>

{% if not rec %}
<p class="notfound">Record not found in database</p>
{% else %}

<dl class="attrs">
{% for attr,val in rec|dictsort %}
 {% if attr.startswith("_") and not ac('internal_attrs') %}
  {# pass (hide attrs starting with '_' from normal users) #}
 {% elif attr == "asn" %}
  <dt>Origin ASN(s) ({{val|length}})</dt>
  <dd><dl{% if val|length > 5%} class="scrollable"{% endif %}>
  {% for asn in val|sort %}
   <dd><a href="{{ url_for('asn') + asn|string }}">{{ 'AS' + asn|string }}</a></dd>
  {% endfor %}
  </dl></dd>
 {% elif attr == "ips" %}
  <dt>IPs ({{val|length}})</dt>
  <dd><dl{% if val|length > 5%} class="scrollable"{% endif %}>
  {% for ip in val|sort %}
   <dd><a href="{{ url_for('ip') + ip|string }}">{{ ip }}</a></dd>
  {% endfor %}
  </dl></dd>
 {% else %}
  <dt>{{ attr }}</dt><dd>{{ val }}</dd>
 {% endif %}
{% endfor %}
</dl>
</div>
{% endif %}{# if not found #}
{% endif %}{# if nothing specified #}

{% endblock %}
