{% extends "layout.html" %}
{% block scripts %}
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<!-- custom script specific for this page -->
<script src="{{ url_for('static', filename='grip.js') }}"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    <script src="Scripts/jquery-3.3.1.min.js"></script>
    <script src="Scripts/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
{% endblock %}

{% macro formfield(field) -%}
{%- if field.type != 'BooleanField' %}{{ field.label }} {% endif -%}
{{ field(class = kwargs.pop('class', '') + ' error', **kwargs) if field.errors else field(**kwargs) }}
{%- if field.type == 'BooleanField' %} {{ field.label }}{% endif -%}
{%- if field.errors %} <span class="error">{{ ', '.join(field.errors) }}</span>{% endif %}
{%- endmacro %}



{% block body %}

{# GRIP #}

{% if grip_group != [] %}
<h1>GRIP group details</h1>

<div id="grip-top">
    <h2> Group ID: <a href="{{ url_for('grip') + grip_group.id }}">{{ grip_group.id }}</a> </h2>
    
    <!-- HIDDEN FORM TO MATCH IP SEARCH POST REQUEST -->
    <form method="POST" action="{{ url_for('ips') }}">
        <div style="display: none;">
            <textarea id="ip_list" name="ip_list">{{ parsed_ip_data }}</textarea>
                
            {{ formfield(form.sortby) }}
                
            {{ formfield(form.asc) }}
                
            {{ formfield(form.limit, size=10) }}
        </div>
        
        <input id="right-btn" type="submit" value="SEARCH GROUP" onclick="sessionStorage.setItem('currentPanel', 1);">
    </form>
</div>


<dd>
  {% for ip in grip_group.ips %}
    IP: <a href="{{ url_for('ip') + ip.ip }}">{{ ip.ip }}</a><br>
    <table style="padding-left: 30px; padding-bottom: 10px">
        <tr><td>First active at:</td><td class="time" data-time="{{ ip.first_active_at|date_to_int }}">{{ ip.first_active_at }}</td></tr>
        <tr><td>Last active at:</td><td class="time" data-time="{{ ip.last_active_at|date_to_int }}">{{ ip.last_active_at }}</td></tr>
       </table>
  {% endfor %}
</dd>
{% else %}
<h1>GRIP list of groups ({{ grip_all_n }})</h1>
<table cellspacing="5" cellpadding="5" style="display: none">
    <tbody><tr>
        <td>Minimum date:</td>
        <td><input type="text" id="min" name="min"></td>
    </tr>
    <tr>
        <td>Maximum date:</td>
        <td><input type="text" id="max" name="max"></td>
    </tr>
</tbody></table>
<table id="grip_table" class="display nowrap"  class="grid">
    <thead>
        <tr>
            <th>ID</div> </th>
            <th>First active at</div></th>
            <th>Last active at</div></th>
        </tr>
    </thead>

    {% for g in grip_all %}
    
    <tr>
        <td><a href="{{ url_for('grip') + g.id }}">{{ g.id }}</a></td>
        <td class="time" data-time="{{ g.first_active_at|date_to_int }}">{{ g.first_active_at }}</td>
        <td class="time" data-time="{{ g.last_active_at|date_to_int }}">{{ g.last_active_at }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}

