{% extends "layout.html" %}
{% block body %}

<h1>{{ ip._id }}</h1>

{# Note: The onsubmit script ovverrides funcionality of Submit button to put IP address to custom URL #}
<form id="ip_form" onsubmit="window.location='{{ url_for('ip') }}'+$('#ip_form #ip').val(); return false;">
  {# form.csrf_token #}
  {{ form.ip.label }} {{ form.ip(size=30) }}
  <input type="submit">
</form>

{% if not ip or not ac('ipsearch') %}
  {# Print nothing if no IP was passed #}
{% elif not ipinfo %}
  <hr>
  <p class="msg info notfound">IP '{{ form.ip.data }}' not in database.</p>
{% else %}

<hr>

<div class="ip-info">
<p class="header"><span class="rep" style="background-color: {{ rep_css_color(ipinfo.rep) }}">
  {{- "%.3f"|format(ipinfo.rep)|replace("0.",".") if ipinfo.rep is defined else "--" }}</span><span class="ip">{{ ip }}</span><span class="hostname">{{ ipinfo.hostname|reverse if ipinfo.hostname else '' }}</span></p>

<dl class="attrs">
{% for attr,val in ipinfo|dictsort %}
 {% if (attr.startswith("_") or attr == 'events_meta') and not ac('internal_attrs') %}
  {# pass (hide attrs starting with '_' from normal users) #}
 {% elif attr == "events" %}
  <dt>events ({{ipinfo.events_meta.total}})</dt>
  <dd><dl{% if val|length > 5%} class="scrollable"{% endif %}>
   {% set last_date = None %}
   {% for evtrec in val|sort(attribute='date') %}
     {% if evtrec.date != last_date %}
       <dt>{{evtrec.date}}</dt><dd>
       {% set last_date = evtrec.date %}
     {% endif %}
     <dd>
     {%if "Test" in evtrec.cat %}
       <span class="test-cat">{{evtrec.cat}} ({{evtrec.node}}): {{evtrec.n}}</span>
     {% else %}
       {{evtrec.cat}} ({{evtrec.node}}): {{evtrec.n}}
     {% endif %}
     </dd>
   {% endfor %}
  </dl></dd>
 {% elif attr == "geo" %}
  <dt>geo</dt><dd><span class="country">
    <a href="http://country.io/{{val.ctry|lower}}/">
    <span class="flag flag-{{val.ctry|lower}}"></span>{{ ctrydata.names.get(val.ctry, '?') }}</a></span>
    {%- if val.city %}, {{ val.city }}{% endif %}</dd>
    {%- if val.tz %}<dd><span title="timezone">&#x1f551;</span> {{ val.tz }}</dd>{% endif %}
 {% elif attr == "hostname" %}
  <dt>hostname</dt>
  <dd>{{ val|reverse if val else '(null)'}}</dd>
 {% elif attr == "bl" %}
  <dt>blacklists</dt>
  <dd><dl>
   {% for bl_entry in val %}
    <span class="tag blacklist" {% if not bl_entry.v %}style="opacity: 0.4; text-decoration: line-through"{% endif %} title="Last checked at: {{ bl_entry.t }}<br>Was present on blacklist at: {{bl_entry.h|map('datetime','%Y-%m-%d %H:%M')|join(', ')}}">{{ bl_entry.n }}</span>
   {% endfor %}
  </dl></dd>
 {% elif attr == "as_maxmind" %}
  <dt>ASN (MaxMind DB)</dt><dd>{{ val.num }} {{ val.description }}</dd>
 {% elif attr == "as_rv" %}
  <dt>ASN (routeviews.org & bgplookingglass.com)</dt><dd>{{ val.num }} {{ val.description }}</dd>
 {% elif attr == "tags" %}
  <dt>tags</td>
  <dd>
  {% for tag_id,tag_param in val.items() %}
  {% if tag_id in config.tags and "description" in config.tags[tag_id] and "name" in config.tags[tag_id] %}
     <span class="tag" style="{{ tag_color_style(config.tags[tag_id].tag_color, tag_param.confidence) }}" title="<b>{{config.tags[tag_id].description}}</b><br /><br />{% if "info" in tag_param %}{{tag_param.info}}<br /><br />{% endif %}Confidence: <i>{{tag_param.confidence}}</i><br />Time added: <i>{{tag_param.time_added|datetime}}</i><br />Time modified: <i>{{tag_param.time_modified|datetime}}</i>">
      {{config.tags[tag_id].name}}
     </span>
  {% else %}
     <span class="tag" title="<b>ERROR:</b> Missing mandatory config for tag {{tag_id}}">
      {{tag_id}}
     </span>
  {% endif %}
  {% endfor %}
  </dd> 
 {% else %}
  <dt>{{ attr }}</dt><dd>{{ val }}</dd>
 {% endif %}
{% endfor %}
</dl>

<div id="events">
<p id="event-details"><span class="caption">Event details</span> <span class="counts">(...)</span>
&nbsp; <span class="note">(Note: Events are stored for approx. 14 days only)</span>
{%- if config.mentat_url and ac('mentat') %}<span class="mentat-link">Search in <a href="{{config.mentat_url.replace('$IP', ip)}}">Mentat</a></span>{% endif %}
</p>
<div class="loading"><img class="load-spinner" src="{{ url_for('static', filename='spin.gif') }}"></div>
<script>
$("#events").load("{{ url_for('ajax_ip_events', ipaddr=ip) }}");
</script>
</div>

</div>
{% endif %}{# if not found #}

{% endblock %}
