{% extends "layout.html" %}
{% block body %}

<h1>IP address</h1>

{# Note: The onsubmit script overrides funcionality of Submit button to put IP address to custom URL #}
<form id="ip_form" onsubmit="window.location='{{ url_for('ip') }}'+$('#ip_form #ip').val(); return false;">
  {# form.csrf_token #}
  {{ form.ip.label }} {{ form.ip(size=30) }}
  <input type="submit">
</form>

{% if not ip or not ac('ipsearch') %}
  {# Print nothing if no IP was passed #}
{% elif not ipinfo %}
  <hr>
  <p class="msg info notfound">IP '{{ form.ip.data }}' not in database.</p>
{% else %}

<hr>

<div class="entity-info ip">

<p class="header"><span class="rep" style="background-color: {{ rep_css_color(ipinfo.rep) }}">
  {{- "%.3f"|format(ipinfo.rep)|replace("0.",".") if ipinfo.rep is defined else "--" }}</span><span class="entity-id">{{ ip }}</span><span class="entity-name">{{ ipinfo.hostname|reverse if ipinfo.hostname else '' }}</span></p>

{% if ac('shodan') %}
<div class="float-box shodan">
  <div class="title">Shodan<span class="side-link">(<a href="https://www.shodan.io/search?query={{ ip }}">more info</a>)</span></div>
  <div id="shodan-info" class="content">
    {#  this is filled by javascript  #}
    <div class="loading"><img class="load-spinner-small" src="{{ url_for('static', filename='spin.gif') }}"></div>
  </div>
</div>
{% endif %}

{% if ac('pdns') %}
<div class="float-box pdns">
<div class="title">Passive DNS<span class="help" title="DNS resolutions involving this IP address observed at CESNET DNS servers. Format: <rr_type> <hostname> <first seen> <last seen> <number of observations>"></span></div>
<div id="pdns_data" class="content"><div class="loading"><img class="load-spinner-small" src="{{ url_for('static', filename='spin.gif') }}"></div></div>
</div>
{% endif %}

<dl class="attrs">
{% for attr,val in ipinfo|dictsort %}
 {% if (attr.startswith("_") or attr == 'events_meta') and not ac('internal_attrs') %}
  {# pass (hide attrs starting with '_' from normal users) #}
 {% elif attr == "events" %}
  <dt>events ({{ipinfo.events_meta.total}})</dt>
  <dd><dl{% if val|length > 5%} class="scrollable"{% endif %}>
   {% set last_date = [''] %}
   {% for evtrec in val|sort(attribute='date') %}
     {% if evtrec.date != last_date[0] %}
       <dt>{{evtrec.date}}</dt><dd>
       {# using last_day as array instead of variable, this hack is needed for changes to be visible outside the scope of this 'if' #}
       {% set _ = last_date.pop() %}
       {% set _ = last_date.append(evtrec.date) %}
     {% endif %}
     <dd>
     {%if "Test" in evtrec.cat %}
       <span class="test-cat">{{evtrec.cat}} ({{evtrec.node}}): {{evtrec.n}}</span>
     {% else %}
       {{evtrec.cat}} ({{evtrec.node}}): {{evtrec.n}}
     {% endif %}
     </dd>
   {% endfor %}
  </dl></dd>
 {% elif attr == "geo" %}
  <dt>geo</dt><dd><span class="country">
    <a href="http://country.io/{{val.ctry|lower}}/">
    <span class="flag flag-{{val.ctry|lower}}"></span>{{ ctrydata.names.get(val.ctry, '?') }}</a></span>
    {%- if val.city %}, {{ val.city }}{% endif %}</dd>
    {%- if val.tz %}<dd><span title="timezone">&#x1f551;</span> {{ val.tz }}</dd>{% endif %}
 {% elif attr == "hostname" %}
  <dt>hostname</dt>
  <dd>{{ val|reverse if val else '(null)'}}</dd>
 {% elif attr == "bl" %}
  <dt>IP blacklists</dt>
  <dd><dl>
   {% for bl_entry in val %}
    <span class="tag blacklist" {% if not bl_entry.v %}style="opacity: 0.4; text-decoration: line-through"{% endif %} title="Last checked at: {{ bl_entry.t }}<br>Was present on blacklist at: {{bl_entry.h|map('datetime','%Y-%m-%d %H:%M')|join(', ')}}">{{ bl_entry.n }}</span>
   {% endfor %}
   {%- if not val %}none{% endif %}
  </dl></dd>
 {% elif attr == "dbl" %}
  <dt>Domain blacklists<span class="help" title="Blacklisted domain names that were associated with the IP address according to Passive DNS"></dt>
  <dd><dl>
   {% for bl_entry in val %}
    <span class="tag blacklist" {% if not bl_entry.v %}style="opacity: 0.4; text-decoration: line-through"{% endif %} title="Last checked at: {{ bl_entry.t }}<br>Was present on blacklist at: {{bl_entry.h|map('datetime','%Y-%m-%d %H:%M')|join(', ')}}">{{ bl_entry.n }} ({{  bl_entry.d }})</span>
   {% endfor %}
   {%- if not val %}none{% endif %}
  </dl></dd>
 {% elif attr == "as_maxmind" %}
  <dt>ASN (MaxMind DB)</dt><dd>{{ val.num }} {{ val.description }}</dd>
 {% elif attr == "as_rv" %}
  <dt>ASN (routeviews.org & bgplookingglass.com)</dt><dd>{{ val.num }} {{ val.description }}</dd>
 {% elif attr == "asns" %}
  <dt>Origin AS</dt>
  {% for asinfo in val %}
   <dd><a href="{{ url_for('asn') + asinfo._id|string }}">AS{{ asinfo._id }}</a> - {{ asinfo.name }}</dd>
  {% endfor %}
 {% elif attr == "ipblock" %} 
  <dt>Address block ('inetnum' or 'NetRange' in whois database)</dt>
  <dd><a href="{{ url_for('ipblock') + val }}">{{ val }}</a></dd>
 {% elif attr == "bgppref" %} 
  <dt>BGP Prefix</dt>
  <dd><a href="{{ url_for('bgppref') + val|replace('/','_') }}">{{ val }}</a></dd>
 {% elif attr == "tags" %}
  <dt>tags</td>
  <dd>
  {% for tag_id,tag_param in val.items() %}
  {% if tag_id in config_tags and "description" in config_tags[tag_id] and "name" in config_tags[tag_id] %}
     <span class="tag" style="{{ tag_color_style(config_tags[tag_id].tag_color, tag_param.confidence) }}" title="<b>{{config_tags[tag_id].description}}</b><br /><br />{% if "info" in tag_param %}{{tag_param.info}}<br /><br />{% endif %}Confidence: <i>{{tag_param.confidence}}</i><br />Time added: <i>{{tag_param.time_added|datetime}}</i><br />Time modified: <i>{{tag_param.time_modified|datetime}}</i>">
      {{config_tags[tag_id].name}}
     </span>
  {% else %}
     <span class="tag" title="<b>ERROR:</b> Missing mandatory config for tag {{tag_id}}">
      {{tag_id}}
     </span>
  {% endif %}
  {% endfor %}
  </dd> 
 {% else %}
  <dt>{{ attr }}</dt><dd>{{ val }}</dd>
 {% endif %}
{% endfor %}
</dl>

{% if ac('warden_alerts') %}
<div id="events">
<p id="event-details"><span class="caption">Event details</span> <span class="counts">(...)</span>
{#&nbsp; <span class="note">(Note: Events are stored for approx. 14 days only)</span>#}
{%- if config.mentat_url and ac('mentat') %}<span class="mentat-link">Search in <a href="{{config.mentat_url.replace('$IP', ip)}}">Mentat</a></span>{% endif %}
</p>
<div class="loading"><img class="load-spinner" src="{{ url_for('static', filename='spin.gif') }}"></div>
<script>
$("#events").load("{{ url_for('ajax_ip_events', ipaddr=ip) }}");
</script>
</div>
{% endif %}

<script>
// Load passive DNS and Shodan data
$(document).ready(function () {
{% if ac('pdns') %}
  var url = "{{ url_for('pdns_ip', ipaddr=ip) }}";  
  $.getJSON(url, function(response,status) {
    if (status != "success") {
      $("#pdns_data").text("error");
    }
    else if (response.length > 0) {
      html = "";
      for (var i in response) {
        html += '<div class="pdns-item">';
        html += '<div><span class="tag dnstype">' + response[i].type + '</span> ' + response[i].domain + '</div>';
        html += '<div>'+response[i].time_first + '&nbsp;&ndash;&nbsp;' + response[i].time_last + '&nbsp;(' + response[i].count + '&times;)</div>';
        html += '</div>';
      }
      $("#pdns_data").html(html);
    }
    else {
      $("#pdns_data").text("-- no records --");
      $("#pdns_data").css("text-align", "center")
    }
  }).fail( function( jqXHR, textStatus, errorThrown) { $("#pdns_data").text("ERROR: " + jqXHR.responseText); } );
{% endif %}
{% if ac('shodan') %}  
  url = "{{ url_for('get_shodan_response', ipaddr=ip) }}";
  $.get(url, function (data) {
      $("#shodan-info").html(data);
  }).fail( function( jqXHR, textStatus, errorThrown) { $("#shodan-info").text("ERROR: " + jqXHR.responseText); } );
{% endif %}
});
</script>

</div>
{% endif %}{# if not found #}

{% endblock %}
