{% macro printlist(array, pre='', post='') -%}{# Print an array as comma-separated list, with pre/post put before/after the list; print nothing if array is not defined #}
  {{- pre + array|join(', ') + post if array else '' }}
{%- endmacro %}
{%- macro printstr(string, pre='', post='') -%}{# Print given string, with pre/post put before/after the list; print nothing if string is not defined #}
  {{- pre + string + post if string else '' }}
{%- endmacro %}
{%- macro duration(seconds, raw_sec=True) -%}
  {% if seconds >= 3600 %}{{ (seconds/3600)|int }}h {% endif %}{% if seconds >= 60 %}{{ ((seconds%3600)/60)|int }}m {% endif %}{{ (seconds%60)|int }}s{% if seconds >= 60 %} ({{seconds|int}}s){% endif %}
{%- endmacro %}

{%- macro display_idea(idea) -%}
{%- set nodes = idea.pop('Node',['N/A']) %}
{% set x = idea.pop('Format') -%}
{% set x = idea.pop('ID') -%}
<div class="idea{{ ' test' if 'Test' in idea['Category'] else ''}}">
<div class="cat_and_time">
 <div class="category" title="Category">{{ idea.pop('Category',['N/A'])|join('+') }}</div>
 <div class="time detecttime" title="DetectTime" {% if idea.get('DetectTime')|is_date %}data-time={{ idea.get('DetectTime')|date_to_int }}{% endif %}>{{ idea.pop('DetectTime','N/A') }}</div>
 {%- if idea.EventTime %}<div class="time eventtime" title="EventTime" {% if idea.get('EventTime')|is_date %}data-time={{ idea.get('EventTime')|date_to_int }}{% endif %}>{{ idea.pop('EventTime') }}</div>{% endif -%}
 {%- if idea.WinStartTime %}<div class="time winstarttime" title="WinStartTime" {% if idea.get('WinStartTime')|is_date %}data-time={{ idea.get('WinStartTime')|date_to_int }}{% endif %}>{{ idea.pop('WinStartTime') }}</div>{% endif -%}
 {%- if idea.CeaseTime %}<div class="time ceasetime" title="CeaseTime" {% if idea.get('CeaseTime')|is_date %}data-time={{ idea.get('CeaseTime')|date_to_int }}{% endif %}>{{ idea.pop('CeaseTime') }}</div>{% endif -%}
 {%- if idea.WinEndTime %}<div class="time winendtime" title="WinEndTime" {% if idea.get('WinEndTime')|is_date %}data-time={{ idea.get('WinEndTime')|date_to_int }}{% endif %}>{{ idea.pop('WinEndTime') }}</div>{% endif -%}
 {%- if idea._duration is defined %}<div class="time duration" title="duration">{{ duration(idea.pop('_duration')) }}</div>{% endif -%}
</div>

<div class="others">
{% if idea.Description %}
  <div class="idea-descr" title="Description">{{ idea.pop('Description') }}</div>
{% endif %}
{% if idea.Note %}
  <div class="idea-note" title="Note">{{ idea.pop('Note') }}</div>
{% endif %}
{% if idea.Source %}
  <div class="source">Source(s):
  {%- set srcs = idea.pop('Source') -%}
  {%- for src in srcs -%}
    {{ printlist(src.pop('IP4', [])+src.pop('IP6', []), ' [', ']') }}{% for k,v in src|dictsort %}, {{k}}: {{json.dumps(v, ensure_ascii=False, sort_keys=True)}}{% endfor %};
  {%- endfor -%}
  </div>
{% endif %}
{% if idea.Target %}
  <div class="target">Target(s):
  {%- set tgts = idea.pop('Target') -%}
  {%- for tgt in tgts -%}
    {{ printlist(tgt.pop('IP4', [])+tgt.pop('IP6', []), ' [', ']') }}{% for k,v in tgt|dictsort %}, {{k}}: {{json.dumps(v, ensure_ascii=False, sort_keys=True)}}{% endfor %};
  {%- endfor -%}
  </div>
{% endif %}
{{ json.dumps(idea, ensure_ascii=False, sort_keys=True).strip("{}") }}
</div>

<div class="nodes"><ul>
{% for node in nodes -%}
  <li title="Node information:{{'\n'}}
             {{- printstr(node.Name, 'Name: ', '\n') -}}
             {{- printlist(node.SW, 'SW: ', '\n') -}}
             {{- printlist(node.Type, 'Type: ', '\n') -}}
             {{- printstr(node.AggrWin, 'AggrWin: ', '\n') -}}
             {{- printstr(node.Note, 'Note: ', '\n') -}}">
    {{- node.Name }}
    {%- if node.SW %}/{{ node.SW[0] if node.SW|length == 1 else '[' + node.SW|join(', ') + ']' }}{% endif -%}
  </li>
{%- endfor %}
</ul></div>
</div>
{%- endmacro -%}

<div id="events">
<p id="event-details"><span class="caption">Event details</span> <span class="counts">({{ num_events|safe }})</span>
{#&nbsp; <span class="note">(Note: Events are stored for approx. 14 days only)</span>#}
{%- if config.mentat_url and ac('mentat') %}<span class="mentat-link">Search in <a href="{{config.mentat_url.replace('$IP', ipaddr)}}">Mentat</a></span>{% endif %}
</p>
{% if error %}<p class="error">{{error}}</p>{% endif %}
{% if events|length == 0 %}
<p>No events found</p>
{% else %}
{% for event in events %}
{{ display_idea(event) }}
{% endfor %}
{% endif %}
</div>
