{% extends "layout.html" %}
{% block body %}

<h1>IP block</h1>

{% if not ipblock or not ac('ipsearch') %}
  {# Print nothing if no IP-block was passed or insufficient permissions #}
{% else %}

<hr>

<div class="entity-info ipblock">
<p class="header">
{% if rec %}<span class="rep" style="background-color: {{ rep_css_color(rec.rep) }}">{{ "%.3f"|format(rec.rep)|replace("0.",".") if rec.rep is defined else "--" }}</span>{% endif %}
<span class="entity-id">{{ ipblock }}</span><span class="entity-name">{{ rec.name if rec.name else '' }}</span>
</p>

{% if not rec %}
<p class="notfound">Record not found in database</p>
{% else %}

<dl class="attrs">
{% for attr,val in rec|dictsort %}
 {% if attr.startswith("_") and not ac('internal_attrs') %}
  {# pass (hide attrs starting with '_' from normal users) #}
 {% elif attr == "org" %}
  <dt>Organization</dt>
  <dd><a href="{{ url_for('org') + val }}">{{ val }}</a></dd>
 {% elif attr == "ips" %}
  <dt>IPs ({{val|length}})</dt>
  <dd><dl{% if val|length > 5%} class="scrollable"{% endif %}>
  {% for ip in val|sort %}
   <dd><a href="{{ url_for('ip') + ip|string }}">{{ ip }}</a></dd>
  {% endfor %}
  </dl></dd>
 {% elif val|is_date %}
     <dt>{{ attr }}</dt><dd class="time" data-time={{ val|date_to_int }}>{{ val }}</dd>
 {% else %}
  <dt>{{ attr }}</dt><dd>{{ val }}</dd>
 {% endif %}
{% endfor %}
</dl>
</div>
{% endif %}{# if not found #}
{% endif %}{# if nothing specified #}

{% endblock %}
