{% extends "layout.html" %}
{% block body %}

<h1>IP block</h1>

{% if not ipblock or not ac('ipsearch') %}
  {# Print nothing if no IP-block was passed or insufficient permissions #}
{% elif not rec %}
  <hr>
  <p class="msg info notfound">IP block '{{ ipblock }}' not in database.</p>
{% else %}

<hr>

<div class="entity-info ipblock">
<p class="header"><span class="rep" style="background-color: {{ rep_css_color(rec.rep) }}">
  {{- "%.3f"|format(rec.rep)|replace("0.",".") if rec.rep is defined else "--" }}</span><span class="entity-id">{{ ipblock }}</span><span class="entity-name">{{ rec.name if rec.name else '' }}</span></p>

<dl class="attrs">
{% for attr,val in rec|dictsort %}
 {% if attr.startswith("_") and not ac('internal_attrs') %}
  {# pass (hide attrs starting with '_' from normal users) #}
 {% elif attr == "org" %}
  <dt>Organization</dt>
  <dd><a href="{{ url_for('org') + val }}">{{ val }}</a></dd>
 {% else %}
  <dt>{{ attr }}</dt><dd>{{ val }}</dd>
 {% endif %}
{% endfor %}
</dl>
</div>
{% endif %}{# if not found #}

{% endblock %}
