{% extends "layout.html" %}
{% block body %}

<h1>Known IP addresses</h1>

<form method="GET" action="{{ url_for('ips') }}">
  {# form.csrf_token #}
  {{ form.subnet.label }} {{ form.subnet() }} {% if form.subnet.errors %}<span class="error">{{ ' '.join(form.subnet.errors) }}</span>{% endif %} &nbsp; &amp; &nbsp;
  {{ form.hostname.label }} {{ form.hostname() }} {% if form.hostname.errors %}<span class="error">{{ ' '.join(form.hostname.errors) }}</span>{% endif %} &nbsp; &amp; &nbsp;
  {{ form.country.label }} {{ form.country(size=2) }} {% if form.country.errors %}<span class="error">{{ ' '.join(form.country.errors) }}</span>{% endif %} &nbsp; &amp; &nbsp;
  {{ form.asn.label }} {{ form.asn(size=7) }} {% if form.asn.errors %}<span class="error">{{ ' '.join(form.asn.errors) }}</span>{% endif %}<br>
  {{ form.sortby.label }} {{ form.sortby() }} {{ form.asc() }} {{ form.asc.label }}<br>
  {{ form.limit.label }} {{ form.limit(size=5) }} {% if form.limit.errors %}<span class="error">{{ ' '.join(form.limit.errors) }}</span>{% endif %}<br>
  <input type="submit">
</form>

{% if results %}
<script>
// Set-up possibility to click on a part of hostname to set it as a filer
function set_hostname_filter(hostname) {
  document.location = ROOT + "ips/?hostname=" + hostname;
};

$(function () {
  $("td.hostname").each( function () {
    hostname = $(this).text();
    if (hostname == "--")
      return;
    parts = hostname.split(".");
    $(this).html("<span>" + parts.join("</span><span>.") + "</span>");
  });
  $("td.hostname span")
    .css("cursor", "pointer")
    .click( function () {
      set_hostname_filter( $(this).text() + $(this).nextAll().text() );
    })
    .hover(
      function () { // mouseenter
        $(this).css("text-decoration", "underline");
        $(this).nextAll().css("text-decoration", "underline");
        $(this).attr("title", "Set as filter");
      },
      function () { // mouseleave
        $(this).css("text-decoration", "");
        $(this).nextAll().css("text-decoration", "");
        $(this).attr("title", "");
      }
    )
});
</script>

<p id="results_label">Results (
{%- if results|length >= form.limit.data -%}
 <a href="#" title="Click to get total count" onclick="$(this).hide(); $('#results_label span').show(); $('#results_label span').load('{{url_for('ips_count')}}', {{query_params}}); return false;">&ge;{{form.limit.data}}</a><span style="display: none">&ge;{{form.limit.data}}<img src="{{url_for('static', filename='spin.gif')}}" style="height: 0.8em; width: 0.8em;"></span>
{%- else -%}
 {{ results|length }}
{%- endif -%})</p>

<!---------- Table with results ---------->
<table id="entity_table" class="main_table">
<!-- Header -->
<tr>
<th>IP address</th>
<th>Hostname</th>
<th title="Autonomous system number and name">ASN</th>
<th>Country</th>
<th title="Total number of alerts recevied">Events</th>
<!--<th>Shodan info</th>
<th>Device type</th>-->
<th>Other properties</th>
<th>Time added</th>
<th>Last update</th>
<th title="Shodan link"></th>
</tr>

{% for ip in results %}
<tr>
<td class="id ip"><a href="{{ url_for('ip') + ip._id }}"><span>{{ip._id}}</span></a></td>
<td class="hostname">{{ip['hostname']|reverse if ip['hostname'] else '--'}}</td>
<td class="asn">
  <span title="MaxMind GeoLite:<br> &nbsp; {% if ip.as_maxmind %}AS{{ip.as_maxmind.num}} - {{ip.as_maxmind.description}}{% else %}--{% endif %}<br>
Routeviews & BGP looking glass:<br> &nbsp; {% if ip.as_rw %}AS{{ip.as_rw.num}} - {{ip.as_rw.description}}{% else %}--{% endif %}">
  {% if ip.as_maxmind and ip.as_rw %}
    {% if ip.as_maxmind.num == ip.as_rw.num %}AS{{ip.as_maxmind.num}}{% else %}??{% endif %}
  {% elif ip.as_maxmind %}
    AS{{ip.as_maxmind.num}}
  {% elif ip.as_rw %}
    AS{{ip.as_rw.num}}
  {% endif %}
</span>
</td>
<td class="country">
  {% if 'geo' in ip and 'ctry' in ip.geo %}
  <a href="http://country.io/{{ip.geo.ctry|lower}}/">
  <span title="{{ctrydata.names.get(ip.geo.ctry, '?')}}, 
                 {{ctrydata.continent_names.get(ctrydata.continent.get(ip.geo.ctry, '?'), '?')}}
                 ({{ip.geo.ctry}}/{{ctrydata.iso3.get(ip.geo.ctry, '?')}})">
    <span class="flag flag-{{ip.geo.ctry|lower}}"></span>{{ip.geo.ctry}}
  </span>
  </a>
  {% endif %}
</td>

<td class="events" data-cats="{{ip.events._cats}}" data-dates="{{ip.events._dates}}"
  data-nodes="{{ip.events._nodes}}" data-table="{{ip.events._date_cat_table}}">
  {{ip.events.total}}
</td>
{#
<td class="shodan">
  {% if ip.shodan_os %}<span class="tag os">{{ip.shodan_os}}</span>{% endif %}
  <span class="ports">
    {% for port in ip.shodan_ports %}<span class="tag port">{{port}}</span>{% endfor %}
  </span>
</td>
<td class="device_type">{% if ip.device_type %}<span class="tag">{{ip.device_type}}</span>{% endif %}</td>
#}
<td class="other">
{#
  {% if ip.open_dns %}<span class="tag amplifier dns">Open DNS resolver</span>{% endif %}
  {% if ip.open_ntp %}<span class="tag amplifier ntp">Open NTP</span>{% endif %}
  {% if ip.open_snmp %}<span class="tag amplifier snmp">Open SNMP</span>{% endif %}
  
  {% if ip.tor %}<span class="tag tor">TOR exit node</span>{% endif %}
#}
  {% if ip.bl %}
  {% for name,times in ip.bl.items() %}
    <span class="tag blacklist" title="IP was present on blacklist '{{name}}' at the following times:<br>
      {{-times|map('datetime','%Y-%m-%d %H:%M')|join(', ')}}<br><br><i>Note: Description of blacklists not implemented yet, just google it.</i>">{{name}}</span>
  {% endfor %}
  {% endif %}
</td>
<td class="time">{{ip.ts_added.astimezone(timezone).strftime("%Y-%m-%d %H:%M:%S")}}</td>
<td class="time">{{ip.ts_last_update.astimezone(timezone).strftime("%Y-%m-%d %H:%M:%S")}}</td>
<td class="shodanlink"><a href="https://www.shodan.io/search?query={{ ip._id }}" title="Search on Shodan"><img src="{{ url_for('static', filename='shodan_icon.png') }}" width=16 heaght=16></a></td>
</tr>
{% endfor %}
</table>

{% endif %}{# if form.errors #}

{% endblock %}
