{% extends "layout.html" %}
{% block body %}

<h1>Known IP addresses</h1>

{% macro formfield(field) -%}
  {%- if field.type != 'BooleanField' %}{{ field.label }} {% endif -%}
  {{ field(class = kwargs.pop('class', '') + ' error', **kwargs) if field.errors else field(**kwargs) }}
  {%- if field.type == 'BooleanField' %} {{ field.label }}{% endif -%}
  {%- if field.errors %} <span class="error">{{ ', '.join(field.errors) }}</span>{% endif %}
{%- endmacro %}

<form method="GET" action="{{ url_for('ips') }}">
  {# form.csrf_token #}
  {{ formfield(form.subnet) }} &nbsp; &amp; &nbsp;
  {{ formfield(form.hostname) }} &nbsp; &amp; &nbsp;
  {{ formfield(form.country, size=2) }} &nbsp; &amp; &nbsp;
  {{ formfield(form.asn, size=7) }}
  <br>
  {{ form.cat.label }} <span id="cat_op_button" class="op_button"></span> {{ form.cat() }}{{ form.cat_op() }}{%- if form.cat.errors %} <span class="error">{{ ', '.join(form.cat.errors) }}</span>{% endif %}
  {%- if ac('nodenames') %}
  &nbsp; &amp; &nbsp;
  {{ form.node.label }} <span id="node_op_button" class="op_button"></span> {{ form.node() }}{{ form.node_op() }}{%- if form.node.errors %} <span class="error">{{ ', '.join(form.node.errors) }}</span>{% endif %}
  {% endif %}
  <br>
  {{ form.blacklist.label }} <span id="bl_op_button" class="op_button"></span> {{ form.blacklist() }}{{ form.bl_op() }}{%- if form.blacklist.errors %} <span class="error">{{ ', '.join(form.blacklist.errors) }}</span>{% endif %} &nbsp; &amp; &nbsp;
  {{ form.tag.label }} <span id="tag_op_button" class="op_button"></span> {{ form.tag() }}{{ form.tag_op() }}{%- if form.tag.errors %} <span class="error">{{ ', '.join(form.tag.errors) }}</span>{% endif %} &nbsp;
  {{ formfield(form.tag_conf, size=1)}}
  <br>
  {{ formfield(form.sortby) }}
  {{ formfield(form.asc) }}<br>
  {{ formfield(form.limit, size=10) }}<br>
  <input type="submit">
</form>

<script src="{{ url_for('static', filename='ips.js') }}"></script>

{% if results %}

<!-- hidden form to allow links to blacklist check at whatismyipaddress.com -->
<form id="bl-check-form" action="https://whatismyipaddress.com/blacklist-check" method="POST" target="_blank">
<input type="hidden" id="bl-check-form-ip" name="LOOKUPADDRESS" value="">
<input type="hidden" name="Lookup+Hostname" value="Check+Blacklists">
</form>

<p id="results_label">Results (
{%- if results|length >= form.limit.data -%}
 <a href="#" title="Click to get total count" onclick="$(this).hide(); $('#results_label span').show(); $.ajax('{{url_for('ips_count')}}', {data: '{{query_params}}', method: 'POST', contentType: 'application/json'}).done(function (data) {$('#results_label span').html(data);}).fail(function (data) {$('#results_label span').text('ERROR');}); return false;">&ge;{{form.limit.data}}</a><span style="display: none">&ge;{{form.limit.data}}<img src="{{url_for('static', filename='spin.gif')}}" style="height: 0.8em; width: 0.8em;"></span>
{%- else -%}
 {{ results|length }}
{%- endif -%})</p>

<!---------- Table with results ---------->
<table id="entity_table" class="main_table">
<!-- Header -->
<tr>
<th>IP address</th>
<th>Hostname</th>
<th title="Autonomous system number and name">ASN</th>
<th>Country</th>
<th title="Total number of alerts / nodes / categories in last {{ cfg_max_event_history }} days">Events</th>
<!--<th>Shodan info</th>
<th>Device type</th>-->
<th title="Reputation score (first experimental algorithm - takes into account number of events and number of detectors per day, from last 14 days with linearly decreasing weight by age)">Rep.</th>
{% if ac('fmp') %}<th title="Future Maliciousness Probability score">FMP</th>{% endif %}
<th>Other properties</th>
<th>Time added</th>
<th>Last event</th>
<th title="Links to external services">Links</th>
</tr>

{% for ip in results %}
<tr>
<td class="id ip"><a href="{{ url_for('ip') + ip._id }}"><span>{{ip._id}}</span></a></td>
<td class="hostname">{{ip['hostname']|reverse if ip['hostname'] else '--'}}</td>
<td class="asn">
  {% if 'asn' in ip%}
    {% for asn in ip['asn']%}
    <a href="{{ url_for('asn') + asn['_id']|string }}" title="{{asn['rir']}}:{{asn['name']}}">{{ 'AS' + asn['_id']|string }}</a>
    <br>
    {% endfor %}
  {% endif %}
</span>
</td>
<td class="country">
  {% if 'geo' in ip and 'ctry' in ip.geo %}
  <a href="http://country.io/{{ip.geo.ctry|lower}}/">
  <span title="{{ctrydata.names.get(ip.geo.ctry, '?')}}, 
                 {{ctrydata.continent_names.get(ctrydata.continent.get(ip.geo.ctry, '?'), '?')}}
                 ({{ip.geo.ctry}}/{{ctrydata.iso3.get(ip.geo.ctry, '?')}})">
    <span class="flag flag-{{ip.geo.ctry|lower}}"></span>{{ip.geo.ctry}}
  </span>
  </a>
  {% endif %}
</td>

<td class="events" data-cats="{{ip._evt_info.cats}}" data-dates="{{ip._evt_info.dates}}"
  data-nodes="{{ip._evt_info.nodes}}" data-table="{{ip._evt_info.date_cat_table}}">
  <span>{{ip.events_meta.total if ip.events_meta else 0}}</span><span>{{ip._evt_info.n_nodes}}</span><span>{{ip._evt_info.n_cats}}</span>
</td>
<td class="reputation" style="background-color: {{ rep_css_color(ip.rep) }}">
  {{ "%.3f"|format(ip.rep) if 'rep' in ip else "---" }}
</td>
{% if ac('fmp') %}
{% set fmp = ip.get('fmp',{}).get('general', undefined) %}
<td class="reputation" style="background-color: {{ rep_css_color(fmp) }}">
  {{ "%.3f"|format(ip.fmp.general) if fmp is defined else "---" }}
</td>
{% endif %}
<td class="other">
  {% if ip.shodan %}
    {% if ip.shodan.os %}<span class="tag os">{{ip.shodan.os}}</span>{% endif %}
    {% if ip.shodan.devicetype %}<span class="tag os">{{ip.shodan.devicetype}}</span>{% endif %}
    {% if ip.shodan.linktype %}<span class="tag os">{{ip.shodan.linktype}}</span>{% endif %}
    {% if ip.shodan.tags %}<span class="tag os">{{ip.shodan.tags}}</span>{% endif %}
    <span class="ports">
      {% for port in ip.shodan.ports %}<span class="tag port" title="Port {{port}} is opened according to Shodan">{{port}}</span>{% endfor %}
    </span>
  {% endif %}
{#
  {% if ip.open_dns %}<span class="tag amplifier dns">Open DNS resolver</span>{% endif %}
  {% if ip.open_ntp %}<span class="tag amplifier ntp">Open NTP</span>{% endif %}
  {% if ip.open_snmp %}<span class="tag amplifier snmp">Open SNMP</span>{% endif %}
#}

  {% if ip.tags %}
    {% for tag_id,tag_param in ip.tags.items() %}
      {% if tag_id in config_tags and "name" in config_tags[tag_id] %}
      <span class="tag" style="{{ tag_color_style(config_tags[tag_id].tag_color, tag_param.confidence) }}" title="{% if "description" in config_tags[tag_id] %}<b>{{config_tags[tag_id].description}}</b><br /><br />{% endif %}{% if "info" in tag_param %}{{tag_param.info}}<br /><br />{% endif %}Confidence: <i>{{tag_param.confidence}}</i><br />Time added: <i>{{tag_param.time_added|datetime}}</i><br />Time modified: <i>{{tag_param.time_modified|datetime}}</i>">
      {{config_tags[tag_id].name}}
      </span>
      {% else %}
        <span class="tag" title="<b>ERROR:</b> Missing configuration for tag {{tag_id}}">
        {{tag_id}}
        </span>
      {% endif %}
    {% endfor %}
  {% endif %} 

  {% if ip.bl %}
  {% for bl_entry in ip.bl -%}
    {% if bl_entry.v %}
      <span class="tag blacklist" title="IP is present on blacklist '{{ bl_entry.n }}'.<br>Last checked at: {{ bl_entry.t|datetime }}<br>Was present on blacklist at: {{bl_entry.h|map('datetime','%Y-%m-%d&nbsp;%H:%M')|join(', ')|truncate(200)|safe}}<br><br><i>Note: Description of blacklists not implemented yet, just google it.</i>">
        {{-bl_entry.n-}}</span>
    {% endif %}
  {%- endfor %}
  {% endif %}
  {% if ip.dbl %}
  {% for bl_entry in ip.dbl -%}
    {% if bl_entry.v %}
      <span class="tag blacklist" title="A domain name associated with the IP is present on blacklist '{{ bl_entry.n }}'.<br>Last checked at: {{ bl_entry.t|datetime }}<br>Was present on blacklist at: {{bl_entry.h|map('datetime','%Y-%m-%d&nbsp;%H:%M')|join(', ')|truncate(200)|safe}}<br><br><i>Note: Description of blacklists not implemented yet, just google it.</i>">
        {{-bl_entry.n-}}</span>
    {% endif %}
  {%- endfor %}
  {% endif %}
</td>
<td class="time">{{ip.ts_added.replace(tzinfo=tz_utc).astimezone(timezone).strftime("%Y-%m-%d %H:%M:%S") if ip.ts_added else "--"}}</td>
<td class="time">{{ip.ts_last_event.replace(tzinfo=tz_utc).astimezone(timezone).strftime("%Y-%m-%d %H:%M:%S") if ip.ts_last_event else "--"}}</td>
<td class="links">
<a href="https://www.shodan.io/search?query={{ ip._id }}" title="Search on Shodan" target="_blank"><img src="{{ url_for('static', filename='shodan_icon.png') }}"></a>
<a href="https://censys.io/ipv4/{{ ip._id }}" title="Search on Censys" target="_blank"><img src="{{ url_for('static', filename='censys_icon.png') }}"></a>
<a href="http://multirbl.valli.org/lookup/{{ ip._id }}.html" title="Blacklist Check at valli.org" target="_blank"><img src="{{ url_for('static', filename='valli_icon.png') }}"></a>
<a href="#" title="Blacklist Check at whatismyipaddress.com" onclick="$('#bl-check-form-ip').val('{{ip._id}}'); $('#bl-check-form').submit(); return false;"><img src="{{ url_for('static', filename='whatismyipaddress.png') }}"></a>
<a href="https://www.talosintelligence.com/reputation_center/lookup?search={{ ip._id }}" title="Search at Talos Intelligence Reputation Center" target="_blank"><img src="{{ url_for('static', filename='talos_icon.png') }}"></a>
<a href="https://senderscore.org/lookup.php?lookup={{ ip._id }}" title="Search at Sender Score" target="_blank"><img src="{{ url_for('static', filename='senderscore_icon.png') }}"></a>


</td>
</tr>
{% endfor %}
</table>

{% elif error %}
<p class="error">{{
{
  "mongo_error": "ERROR: Can't connect to database.",
}.get(error, error)
}}</p>
{% else %}
<p id="results_label">No results</p>
{% endif %}{# end if results #}

{% endblock %}
