<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NERD web</title>
  <!-- jQuery and jQuery UI -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!-- local stylesheets -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flags.css') }}">
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>