{% extends "layout.html" %}
{% block body %}

<div>
    <h1>Not a verified user</h1>
    <p>Your email address is still not verified. In order to access to NERD, please check your email inbox and follow the
        instructions to verify your email address or log out.</p>
</div>

<div class="border-top pt-3">
    <small class="text-muted">
        Cannot find the verification email in your inbox? <a class="ml-2" href="{{ url_for('user_management.resend_verification_mail') }}">Resend verification email</a>
    </small>
</div>
{% endblock %}