{% extends "layout.html" %}
{% block body %}

<h1>Organization</h1>

{% if not org or not ac('ipsearch') %}
  {# Print nothing if no org was passed or insufficient permissions #}
{% else %}

<hr>

<div class="entity-info org">
<p class="header"><span class="entity-id">{{ rec.name if rec.name else org }}</span><span class="entity-name">{{ '('+org+')' if rec.name else '' }}</span></p>

{% if not rec %}
<p class="notfound">Record not found in database</p>
{% else %}


<dl class="attrs">
{% for attr,val in rec|dictsort %}
 {% if attr.startswith("_") and not ac('internal_attrs') %}
  {# pass (hide attrs starting with '_' from normal users) #}
 {% elif attr == "asns" %}
  <dt>Autonomous Systems ({{val|length}})</dt>
  <dd><dl{% if val|length > 5%} class="scrollable"{% endif %}>
  {% for asn in val|sort %}
   <dd><a href="{{ url_for('asn') + asn|string }}">{{ 'AS' + asn|string }}</a></dd>
  {% endfor %}
  </dl></dd>
 {% elif attr == "ipblocks" %}
  <dt>IP Blocks ({{val|length}})</dt>
  <dd><dl{% if val|length > 5%} class="scrollable"{% endif %}>
  {% for ipb in val|sort %}
   <dd><a href="{{ url_for('ipblock') + ipb|string }}">{{ ipb }}</a></dd>
  {% endfor %}
  </dl></dd>
 {% elif attr == "address" %}
  <dt>{{ attr }}</dt><dd>{{ val|replace("\n","<br>"|safe) }}</dd>
 {% elif val|is_date %}
     <dt>{{ attr }}</dt><dd class="time">{{ val }}</dd>
 {% else %}
  <dt>{{ attr }}</dt><dd>{{ val }}</dd>
 {% endif %}
{% endfor %}
</dl>
</div>
{% endif %}{# if not found #}
{% endif %}{# if nothing specified #}

{% endblock %}
