{% extends "layout.html" %}
{% block body %}

<div>
    <h1>Password reset - fill in your new password</h1>
    <p>User id: <b>{{ userid }}</b></p>
    <form method="POST" action="">
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}<br />
                {% if form.password.errors %}
                    <span class="error">{{ ', '.join(form.password.errors) }}</span><br />
                {% endif %}
                {{ form.password(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}<br />
                {% if form.confirm_password.errors %}
                    <span class="error">{{ ', '.join(form.confirm_password.errors) }}</span><br />
                {% endif %}
                {{ form.confirm_password(class="form-control form-control-lg") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock %}
